body{
font-family: "Geologica", sans-serif;
background-color: #F5F5F5;
}


.hero_title{
font-family: "Geologica", sans-serif;
font-size: 30px; 
line-height: 80px;
color: #000;
margin-top: 50px;
margin-left: 5px;
padding-top: 5px;
}


.advantages{
font-family: "Geologica", sans-serif;
font-weight: 300;
font-size: 20px; 
color: #000;
margin-top: 291;
margin-left: 5px;
width: 350px;
height: 84px; ;
padding: 15px 20px;
margin: 10px;
}

/*.trust{
font-family: "Geologica", sans-serif;
font-weight: 500;
font-size: 20px; 
line-height: 48px;
color: #000;
width: 500px;
padding: 10px 10px;
margin: 10px;
border-bottom: 4px solid black;
border-top: 4px solid black;
}*/

.button1{
font-family: "Geologica", sans-serif;
font-weight: 227;
font-size: 20px;
line-height: 31px;
color: #fff;
border: 1px solid #fff;
border-radius: 8px;
padding: 5px 5px;
width: 344px;
height: 66px;
cursor: pointer;
background: #0705F6;
border: none;
margin-top: 525;
margin: 10px;
}

.button1:hover{
    color: #5b5858;
}


/*2*/
.center-container{
justify-items: center;
font-family: "Geologica", sans-serif;
font-size: 24px; 
line-height: 80px;
color: #000;
margin: 10px;
height: 80px; ;
padding: 15px 20px;
margin: 10px;
}

.three{
    margin: 10px;
    display: flex; /* Розміщує елементи в рядок */
    justify-content: space-between; /* Розводить елементи по краях */
    align-items: center; 
}

.lapa{
    position: absolute;
    top: 32px;
    width: 86.5px;
height: 132px;
padding: 15px 20px;
margin: 10px;
}

.dog{
  margin-top: 100px;
    height: 549px;
position: relative;
justify-content: left;
}

.pig{
    margin-top: 10px;
    width: 316.7px;
    height: 313.4px;
    margin: 10px;
padding: 10px 10px;
}

.mops{
    margin-top: 10px;
    width: 316.7px;
    height: 313.4px;
    margin: 10px;
padding: 10px 10px;
}

.fotodog{
    margin-top: 10px;
    width: 316.7px;
    height: 313.4px;
    margin: 10px;
padding: 10px 10px;
}

.payy{
    align-items: center;
    font-family: "Geologica", sans-serif;
font-weight: 365px;
font-size: 30px; 
line-height: 88px;
color: #000;
margin: 10px;
padding: 10px 10px;
display: flex;
}

.zvit{
    width: 316.7px;
    height: 313.4px;
    margin: 10px;
padding: 10px 10px;
}

.meet{
    align-items: center;
   font-family: "Geologica", sans-serif;
font-weight: 365px;
font-size: 30px; 
line-height: 88px;
color: #000;
margin: 10px;
padding: 10px 10px;
}

.zvitt{
    align-items: center;
   font-family: "Geologica", sans-serif;
font-weight: 365px;
font-size: 30px; 
line-height: 88px;
color: #000;
margin: 10px;
padding: 10px 10px;
}

.text1{
    margin: left 10px ;
    margin-right: 10px; 
    font-family: "Geologica", sans-serif;
font-weight: 349px;
font-size: 20px; 
line-height: 25px;
color: #000;
padding: 5px 5px;
margin: 5px;
align-items: center;
width: 380px;
}

.vakcina{
    justify-items: center;
font-family: "Geologica", sans-serif;
margin: 5px;
font-size: 20px; 
line-height: 48px;
color: #000;
margin-left: 110px;
margin-top: 10px;
padding: 5px 5px;
display: flex; /* Розміщує елементи в рядок */
   /* Розводить елементи по краях */
    align-items: center; 
}
 /*margin-left: 50px;
 justify-content: space-between; */
.znak{
    width: 32px;
line-height: 76.5px;
padding: 10px 10px;
margin: 5px;
}

.lapass{
    position: absolute;
    top: 0px;
    left: 43;
    width: 790.5;
    height: 857.3;
padding: 15px 20px;
margin: 10px;
}

.pay{
    padding: 15px 20px;
}

.connect{
  
    display: flex; /* Розміщує елементи в рядок */
    justify-content: space-between; /* Розводить елементи по краях */
    align-items: center; /* Вирівнює елементи по вертикалі */

}

.us{
    justify-content: space-around;
}

.row_spacing {
    /*рівняє блоки в ряд, як у секції чому з ЛапЛап безпечно*/
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
}

.row_spacing.aligned {
    justify-content: center;
}

.lapas{
    position: absolute;
    top: 0px;
    glyph-orientation-horizontal: 90;
    left: 40;
    width: 744.27;
    height: 741.78;
padding: 15px 20px;
margin: 10px;
}

.line{
     margin: 5px;
     background-color: blue; 
     height:3px;
}

