* {
    font-family: 'Geologica', sans-serif;
    margin: 0px;
    padding: 0px;
}

.aligned_section {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row_spacing {
    /* background-color: aquamarine; */
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.why_safe_block {
    background-color: #d9d9d9;
    opacity: 1;
    margin: 0px 42px;
    width: 280px;
    height: 280px;
    border-radius: 7px;
}

.why_safe_block_title {
    width: 230px;
    height: 50px;
    padding: 25px;
    font-size: 23px;
    font-weight: 700;
}

.why_safe_block_body {
    width: 230px;
    height: 130px;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
}

.section_title {
    font-size: 45px;
    font-weight: 700;
    height: 150px;
    display: flex;
    align-items: center;
}

header {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.header_button {
    background-color: white;
    color: black;
    margin-left: 60px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
}

.header_button.highlighted {
    color: #0705f6;
}

.header_button:hover {
    color: #0705f6;
}

footer {
    height: 280px;
    background-color: rgba(190, 188, 188, 0.3);
    display: grid;
    grid-template-columns: 135px 335px 440px auto;
    grid-template-rows: 40px auto auto auto;
}

.blue_button {
    width: 345px;
    height: 65px;
    background-color: #0705f6;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}