.city_block {
    background-color: #edebeb;
    width: 380px;
    height: 380px;
    border-radius: 7px;
    margin: 50px 200px 180px;
}

.city_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.city_blue_line {
    background-color: #0705f6;
    width: 5px;
    height: 29px;
}

.city_title {
    width: 170px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.city_number {
    padding: 25px 0px 25px 34px;
    font-size: 28px;
    color: #0705f6;
}

.city_time {
    padding-bottom: 10px;
    padding-left: 34px;
    width: 365px;
    height: 54px;
    font-size: 16px;
}

.city_time_description {
    font-size: 20px;
}

.city_blue_button {
    width: 289px;
    line-height: 65px;
    background-color: #0705f6;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    border-radius: 7px;
    margin: 8px auto;
}