.cities{
    background-color: #edebeb;
    opacity: 1;
    margin: 0px 42px;
    width: 380px;
    height: 380px;
    border-radius: 7px;
}

.cities_title{
    width: 160px;
    height: 50px;
    padding-bottom: 25px;
    padding-top: 12px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.cities_number{
    padding-bottom: 30px;
    padding-left: 34px;
    font-size: 28px;
    color: #0705f6;
    cursor: pointer;
}

.cities_timetable{
padding-bottom: 10px;
padding-left: 34px;
width: 365px;
height: 54px;
font-size: 16px;
}

.blue_button_cities {
    width: 289px;
    height: 65px;
    background-color: #0705f6;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}

.city_wrapper {
    display: flex;
    align-items: center; 
    /* Невеликий відступ між лініями та текстом */
    gap: 5px; 
    /* Дозволяємо контейнеру бути лише шириною вмісту */
    width: fit-content; 
}
