.question {
    /*для тексту, самого запитання - оберіть місто* та інші*/
    font-size: 24px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 15px;
}

input {
    width: 1200px;
    padding: 10px;
    background: #d9d9d9;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 400;
    outline: none;
}

/*стилі для питання з вибором однієї або кількох відповідей*/

.option {
    margin: 10px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
}

.option input {
    display: none;
}

.circle {
    width: 22px;
    height: 22px;
    border: 4px solid #c2c2c2;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
}

.option input:checked + .circle {
    border-color: black;
}

.option input:checked + .circle::after {
    content: "";
    width: 13px;
    height: 13px;
    background: black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.squircle {
    width: 22px;
    height: 22px;
    border: 4px solid #c2c2c2;
    border-radius: 40%;
    margin-right: 10px;
    position: relative;
}

.option input:checked + .squircle {
    border-color: black;
}

.option input:checked + .squircle::after {
    content: "";
    width: 13px;
    height: 13px;
    background: black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Стилі для випадаючого списку у формі*/

.custom-select {
    width: 1220px;
    border: 1px solid #ccc;
    border-radius: 7px;
    cursor: pointer;
    overflow: hidden;
    font-size: 16px;
    font-weight: 400;
}

.custom-select .selected {
    padding: 10px;
    background: #d9d9d9;
}

.custom-select .list_options {
    max-height: 0;
    overflow: hidden;
    background-color: #edebeb;
    transition: max-height 0.3s ease;
}

.custom-select .list_option {
    padding: 10px;
}

.custom-select .list_option:hover {
    background: #d9d9d9;
}