* {
    font-family: 'Geologica', sans-serif;
    scrollbar-width: none;
    margin: 0px;
}

html {
    overflow-x: hidden;
}

body {
    padding-top: 110px;
    position: relative;
    overflow-y: hidden;
}

.paws {
    position: absolute;
    z-index: -1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    background-color: white;
    z-index: 1;
}

.header_logo {
    width: 250px;
    height: 55px;
    margin: 0px 220px 8px 130px;
}

.header_button {
    background-color: white;
    color: black;
    margin: 0px 30px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
}

.header_button.highlighted {
    color: #0705f6;
}

.header_button:hover {
    color: #0705f6;
}

footer {
    height: 280px;
    background-color: #edebeb;
    display: grid;
    grid-template-columns: 140px 335px 440px auto;
    grid-template-rows: 40px auto auto auto;
}

.hero_section {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 50px;
    overflow: hidden;
}

.hero_section_image {
    position: absolute;
    right: -40px;
}

.hero_section_black_line {
    background-color: black;
    height: 4px;
}

.aligned_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row_spacing {
    display: flex;
    flex-direction: row;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_title {
    font-size: 45px;
    font-weight: 700;
    width: 1110px;
    margin: 50px auto;
    text-align: center;
}

.subtitle {
    text-align: center;
    font-size: 20px;
    margin-top: -40px;
}

.blue_button {
    width: 345px;
    height: 65px;
    background-color: #0705f6;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}